[submodule "scripts"]
	path = scripts
	url = git://github.com/yesodweb/scripts.git
[submodule "pool"]
	path = pool
	url = https://github.com/bos/pool.git
[submodule "mongoDB-haskell"]
	path = mongoDB-haskell
	url = https://github.com/TonyGen/mongoDB-haskell.git
