## Haskell build
dist
*.hi
*.o

## Editor ignores
TAGS
*~
*.swp

## databases
test.db3
persistent-test/test/testdb.sqlite3

# ?
/tarballs/

# install script error messages
# maybe should use shellyNoDir ?
/.shelly

## Cabal sandboxing tools
.virthualenv
cabal-dev/
cabal.sandbox.config
.cabal-sandbox/

## Docker image ignores
/.cabal/
/.ghc/
/.bash_history
/.bashrc
.mongorc.js
.dbshell
# can use this for Docker databases
persistent-test/db/

# docker image with a mounted file system
/x86_64-linux-ghc-7.8.3-packages.conf.d/
/packages/
