## Haskell build
dist
*.hi
*.o

## Editor ignores
TAGS
*~
*.swp

## databases
test.db3
persistent-test/test/testdb.sqlite3

# ?
/tarballs/

# install script error messages
# maybe should use shellyNoDir ?
/.shelly

## Cabal sandboxing tools
.virthualenv
cabal-dev/
# hsenv did this
dist_y

## Docker image ignores
.bash_history
.cabal/
.ghc/
# can use this for Docker databases
persistent-test/db/
