sudo: enabled
language: generic

addons:
  apt:
    packages:
    - libgmp-dev
  postgresql: "9.6"

services:
- mongodb
- mysql
- redis-server

matrix:
  include:
  - env: ARGS="--resolver lts-6  --stack-yaml stack_lts-10.yaml" BACKEND=none
  - env: ARGS="--resolver lts-7  --stack-yaml stack_lts-10.yaml" BACKEND=none
  - env: ARGS="--resolver lts-9  --stack-yaml stack_lts-10.yaml" BACKEND=none
  - env: ARGS="--resolver lts-10 --stack-yaml stack_lts-10.yaml" BACKEND=none
  - env: ARGS="--resolver lts-11 --stack-yaml stack_lts-12.yaml" BACKEND=none
  - env: ARGS="--resolver lts-12 --stack-yaml stack_lts-12.yaml" BACKEND=none
  - env: ARGS="--resolver lts-13" BACKEND=none

  - env: ARGS="--resolver lts-12" BACKEND=sqlite
  - env: ARGS="--resolver lts-12" BACKEND=mongodb
  - env: ARGS="--resolver lts-12 --stack-yaml stack_lts-12.yaml" BACKEND=postgresql
  - env: ARGS="--resolver lts-12" BACKEND=mysql

  - env: ARGS="--resolver lts-13" BACKEND=sqlite
  - env: ARGS="--resolver lts-13" BACKEND=mongodb
  - env: ARGS="--resolver lts-13" BACKEND=postgresql
  - env: ARGS="--resolver lts-13" BACKEND=mysql

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

script: travis/run.sh

cache:
  directories:
  - $HOME/.stack


# zookeeper doesn't seem to work any more
# matrix:
#  - env: GHCVER=X CABALVER=Y BACKEND=zookeeper
#        packages:
#        - libzookeeper-mt-dev
#        - zookeeperd
