constraints: MonadRandom ==0.4.2.3,
             aeson ==0.11.2.0,
             array ==0.5.1.0,
             async ==2.1.0,
             attoparsec ==0.13.0.2,
             auto-update ==0.1.4,
             base ==4.8.2.0,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             binary ==0.7.5.0,
             blaze-builder ==0.4.0.2,
             blaze-html ==0.8.1.1,
             blaze-markup ==0.7.0.3,
             bson ==0.3.2.2,
             byteable ==0.1.1,
             bytestring ==0.10.6.0,
             bytestring-builder ==0.10.8.1.0,
             cereal ==0.5.2.0,
             cipher-aes ==0.2.11,
             conduit ==1.2.6.6,
             conduit-extra ==1.1.13.1,
             containers ==0.5.6.2,
             cprng-aes ==0.6.1,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.9,
             cryptohash ==0.11.9,
             cryptonite ==0.17,
             data-binary-ieee754 ==0.4.4,
             deepseq ==1.4.1.1,
             directory ==1.2.2.0,
             dlist ==0.7.1.2,
             easy-file ==0.2.1,
             exceptions ==0.8.2.1,
             fail ==4.9.0.0,
             fast-logger ==2.4.6,
             filepath ==1.4.0.0,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.4.0,
             hashtables ==1.2.1.0,
             http-api-data ==0.2.3,
             integer-gmp ==1.0.0.0,
             lifted-base ==0.2.3.6,
             memory ==0.13,
             mmorph ==1.0.6,
             monad-control ==1.0.1.0,
             monad-logger ==0.3.18,
             monad-loops ==0.4.3,
             mongoDB ==2.0.10,
             mtl ==2.2.1,
             network ==2.6.2.1,
             nonce ==1.0.2,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             parsec ==3.1.11,
             path-pieces ==0.2.1,
             persistent ==2.5,
             pretty ==1.1.2.0,
             primitive ==0.6.1.0,
             process ==1.2.3.0,
             random ==1.1,
             random-shuffle ==0.0.4,
             resource-pool ==0.2.3.2,
             resourcet ==1.1.7.4,
             rts ==1.0,
             scientific ==0.3.4.7,
             securemem ==0.1.9,
             semigroups ==0.18.1,
             silently ==1.2.5,
             stm ==2.4.4.1,
             stm-chans ==3.0.0.4,
             streaming-commons ==0.1.15.5,
             syb ==0.6,
             tagged ==0.8.4,
             template-haskell ==2.10.0.0,
             text ==1.2.2.1,
             time ==1.5.0.1,
             time-locale-compat ==0.1.1.2,
             transformers ==0.4.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             unix ==2.7.1.0,
             unix-time ==0.3.6,
             unordered-containers ==0.2.7.1,
             vector ==0.11.0.0,
             zlib ==0.6.1.1
