name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  build:
    services:
      postgres:
        image: postgres:12-alpine
        env:
          POSTGRES_USER: perstest
          POSTGRES_PASSWORD: perstest
          POSTGRES_DB: persistent
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      # mysql-service Label used to access the service container
      mysql-service:
        # Docker Hub image (also with version)
        image: mysql:8.0
        env:
          ## Accessing to Github secrets, where you can store your configuration
          MYSQL_USER: test
          MYSQL_PASSWORD: test
          MYSQL_ROOT_PASSWORD: test
          MYSQL_DATABASE: test
        ## map the "external" 33306 port with the "internal" 3306
        ports:
          - 33306:3306
        # Set health checks to wait until mysql database has started (it takes some seconds to start)
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack-yaml:
          - stack-ghc-8.4.4.yaml
          - stack-ghc-8.6.5.yaml
          - stack-ghc-8.8.4.yaml
          - stack-ghc-8.10.3.yaml
          - stack.yaml
    steps:
      - uses: actions/checkout@v2
      - uses: freckle/stack-cache-action@main
        with:
          stack-yaml: ${{ matrix.stack-yaml }}
      - name: Check MySQL connection
        run: mysql -utest -ptest -h127.0.0.1 --port=33306 test -e "SELECT 1;"
      - name: Start Redis
        uses: supercharge/redis-github-action@1.1.0
      - uses: freckle/stack-action@main
        with:
          stack-yaml: ${{ matrix.stack-yaml }}
          stack-arguments: '--test-arguments "--fail-on-focused"'
